body {
  background: #fff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.75;
  margin: 0;
}

/* Navigation */
header {
  align-items: center;
  display: flex;
  font-family: 'Comfortaa', cursive;
  justify-content: space-between;
  padding: 5px 10px;
  text-transform: lowercase;
}

.site-title a {
  color: #1d6b4f; 
  font-size: 1.8rem;
  letter-spacing: -2px;
}

nav a {
  border-radius: 6px;
  color: #333;
  padding: 8px 10px;
}

nav a:hover {
  color: #1d6b4f;
  background: rgba(41, 152, 111, 0.226);
}

nav ul {
  display: inline-flex;
  list-style-type: none;
  padding-left: 0;
}

.nav-mobile {
  display: none;
}

/* Buttons */
button a {
  color: #fff;
}

input[type="submit"],
button {
  background: #333;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 4px -2px rgba(36, 18, 77, .2);
  color: #fff;
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  padding: 15px 20px;
  text-transform: lowercase;
}

button:hover {
  background: #666;
}

button.danger {
  background: #b82e33;
}

button.danger:hover {
  background: rgba(184, 46, 51, 0.7);
}

.btn-primary,
button.primary {
  background: #1d6b4f;
}

.btn-primary:hover,
button.primary:hover {
  background: #2a9971;
}

/* Misc */
a {
  color: #2a9971;
  text-decoration: none;
}

img.food {
  height: auto;
  width: 360px;
}

/* Frontpage Hero Section */
.hero {
  align-items: center;
  background: linear-gradient(to bottom, #fff, #fff, #7fc1a9);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  justify-content: center;
  padding: 0 30px;
}

.hero h2 {
  font-size: 2.6rem;
  margin-bottom: 50px;
}

/* Frontpage 2 */
.outline {
  display: flex;
  flex-direction: column;
  margin: 20px auto;  
}

.outline h1 {
  font-size: 1.8rem;
  padding: 25px 15px;
  text-align: center;
}

.outline h1,
.outline h2 {
  font-family: 'Comfortaa', cursive;
}

.outline-odd,
.outline-even {
  align-items: center;
  display: flex;
  justify-content: space-around;
  min-height: 480px;
}

.outline-even {
  flex-direction: row-reverse;
}

/* Frontpage 3 */
.admin {
  align-items: center;
  background: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 360px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

/* Wrapper */
.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 200px);
}

.container {
  margin: 25px auto;
  padding: 20px;
  text-align: center;
}

/* Form Elements */
form {
  display: block;
}

input {
  border: 1px solid #666;
  border-radius: 6px;
  display: block;
  margin: 10px;
  padding: 15px 30px;
  width: 180px;
}

input[type="submit"] {
  width: calc(100% - 20px);
  background: #1d6b4f;
}

input[type="checkbox"] {
  width: auto;
}

fieldset {
  border: none;
}

fieldset > div {
  align-items: center;
  border: 1px solid #2a9971;
  border-radius: 6px;
  display: flex;
  padding: 10px 20px;
  margin: 10px auto;
}

/* Order History */
.order-history {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 720px;
}

.order-card {
  background: #2a9971;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 4px -2px rgba(36, 18, 77, .2);
  color: #fff;
  padding: 20px;
  margin: 20px;
  min-width: 200px;
  transition: all 0.4s ease-in-out;
}

.order-card:hover {
  box-shadow: 0 1px 20px rgba(0,0,0,.2);
  transform: scale(1.05);
}

/* Admin Dashboard */
.admin-orders,
.admin-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 960px;
}

.admin-menu {
  max-width: 720px;
}

.order-card__admin {
  border: 2px solid #2a9971;
  background: #fff;
  color: #333;
}

.order-card__admin button {
  font-size: 12px;
  padding: 8px 10px;
  font-weight: 400;
}

.order-card__admin--new {
  background: #2a9971;
  color: #fff;
}

/* Media Queries */
@media only screen and (min-width: 720px) {
  img.food {
    width: 480px;
  }
}

@media only screen and (max-width: 720px) {
  .outline-odd,
  .outline-even {
    flex-direction: column;
    text-align: center;
  }

  header {
    align-items: baseline;
  }

  nav ul {
    display: none;
  }

  nav a {
    font-size: 14px;
  }

  nav ul.open {
    display: flex;
    flex-direction: column;
  }

  .nav-mobile {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  img.food {
    width: 300px;
  }
}
